.featuredProducts{
    margin: 100px 40px;

    .top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 50px;

        h1{
            text-transform: capitalize;
            flex: 2;
        }
        p{
            flex: 3;
            color: gray;
        }
    }

    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}