.home{
    width: 100vw;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    
    .container{
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons{
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        margin: auto;
        display: flex;
        gap: 10px;

        .icon{
            border: 1px solid white;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}