.navbar {
  height: 80px;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

    .item{
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .left {
      display: flex;
      gap: 20px;
      align-items: center;

      .logo{
        font-size: 30px;
      }
    }
    .center {
      display: flex;
      align-items: center;
    }
    .right {
      display: flex;
      gap: 20px;
      align-items: center;

      .icons{
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon{
            position: relative;

            span{
                font-size: 12px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #2879fe;
                color: white;
                position: absolute;
                top: -8px;
                right: -6px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
      }
    }
  }
}
